body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}
section{
    margin-bottom: 150px;
}
.container-flex{
    display: flex;
    justify-content: center;
}
.half-part{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 80px;
}
.half-part h2{
    font-size: 65px;
    font-family: 'Yeseva One', cursive;
    margin-left: 15px;
}
.half-part p{
    font-size: 25px;
    width: 700px;
    margin-bottom: 45px;
}
.half-part img{
    width: 80%;
    margin-top: -130px;
}
.extra-color{
    color: #FF6464;
}
.left-border{
    border-left: 5px solid #91C483;
}
.link-btn{
    text-decoration: none;
    background-color: #91C483;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.mission-site h2{
    text-align: center;
    font-size: 60px;
}
.mission{
    background-color: #FEE4CD;
    margin-left: 20px;
    margin-right: 20px;
    width: 400px;
    height: 400px;
    padding: 40px;
    border-radius: 40px;
}
.mission img{
    width: 40%;
}
.mission h3{
    font-size: 35px;
}
.mission p{
    font-size: 20px;
}